.projects {
  grid-column: 2/3;
  grid-row: 1/3;
  z-index: 4343;
  margin-top: 1rem;
  margin-left: 5rem;

  & h2 {
    font-size: 6rem;
    color: rgb(255, 255, 255);

    position: relative;
  }
  &_container {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &_box {
    width: 55rem;
    height: 25rem;
 

    box-shadow: -6px 8px 9px 6px rgba(0, 0, 0, 0.43);

    &-image {
      height: 100%;
      width: 100%;
    }
    &-link {
      position: absolute;
      z-index: 99999999999;
    }
  }
}
